doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title SVG Telopper!: Setting

    script
      block version
        | var version = "#{pkg.version}#{salt}";
      block node_env
        | var nodeEnv = "#{env}";
      block locale
        | var langs = !{langs};
    script(src="./assets/setting-boot.js")
    script(src="./assets/setting.js" defer)

  body
    noscript
      | てぇ～へんだ てーへんだーー！ JavaScriptが有効になってないってぇ！？
      a(href="https://tamaina.github.io/products/svg-telopper/v1.0/") README
    div#app
