html, body {
  height: 100vh;
  width: 100vw;
  font-size: 5vmin;
}

html {
  overflow: hidden;
}

.client { /* クライアント(svgの表示範囲) */
  position: relative;
}

.wrapper { /* 覆いの大きさ */
  height: 100%; /* クライアントと同じ(100%) */
  width: 100%; /* クライアントと同じ(100%) */
  overflow: visible;
  position: absolute;
  top: 0;
  left: 0;
}

.wrapper > * { /* 直後の子要素の設定 */
  height: 100%; /* クライアントと同じ(100%) */
  width: 100%; /* クライアントと同じ(100%) */
  transform-origin: left top; /* 変形の基準位置 */
  overflow: visible;
  opacity: 0;
}

.show { /* show */
  opacity: 1;
}

.hide { /* hide */
  opacity: 0;
}
